*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Layout */
    --mobile: 375px;
    --desktop: 1440px;

    /* Colors */
    --white: hsl(0, 0%, 98%);
    --grey: hsl(0, 0%, 41%);
    --black: hsl(0, 0%, 8%);
    
    /* Font */
    --p-font-size: 18px;
    /* --p-font-size: 18px; */
    
    --regular: 500;
    --bold: 700;
}

body {
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
}

.page-wrapper {
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 1rem;
}

.header > .container {
    width: 100%;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    grid-area: header;
}

/* .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: white;
    padding: 1rem;
    z-index: 1000;
    
    display: flex;
    } */


#menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
}
    
.nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    height: 100vh;
    width: 65%;
    background: white;
    padding: 1rem;
    z-index: 1000;
}

.nav.open {
    display: flex;
}

.menu,
.user--div,
.nav__list {
    flex-direction: column;
    
    /* list-style: none; */
    margin: 0;
    padding: .2rem 0;
    display: flex;
    align-items: start;
}

.user--div {
    align-items: center;
}

.user--div > div {
    margin: 1rem;
}

.menu > li {
    position: relative;
}

.dropdown {
    display: none;
    flex-direction: column;
}

.has-dropdown.open > .dropdown {
    display: flex;
}
    
.menu > li > a,
.dropdown li a {
    display: block;
    padding: 15px 20px;
    color: var(--grey);
    text-decoration: none;
}


.menu > li a:hover,
.dropdown li a:hover,
.user--div .nav__link:hover {
    color: var(--black); 
}

/* .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FFF;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, .25);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    list-style: none;
    min-width: 150px;
    z-index: 1000;
    padding: 1rem;
} */

/* .dropdown {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 100%;
    background: var(--white);
    padding: 0.5rem 0;
    list-style: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
} */

.nested {
    padding-left: 1.7rem;
}

.features {
    width: 10rem;
    left: -80px;
}

.company {
    width: 8.1rem;
}

.dropdown li a {
    padding: 10px 15px;
}

.menu > li:hover .dropdown {
    display: block;
}

.user--div .nav__link {
    color: var(--grey);
    padding: 15px 20px;
    text-decoration: none;
}

.list__icon {
    padding-right: .5rem;
    width: 1.4rem;
}

.hero__img--div {
    grid-area: img;
    max-width: 100%;
    overflow: hidden;
}

.hero__img {
    width: 100%;
}

.hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    grid-area: hero;
}

.title {
    color: var(--black);
    font-size: 1.75rem;
    font-weight: var(--bold);
    padding-top: 1rem;
}

.details {
    color: var(--grey);
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    padding: 1.1rem 0;
}

.learn-more__button--div {
    margin-top: 1.3rem;
}

.learn-more__button,
.register__btn {
    font-size: .8rem;
    font-weight: var(--regular);
    text-decoration: none;
    border-radius: 15px;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
    padding: 1em 1.7em;
}

.register__btn {
    background-color: #FFF;
    border: var(--black) 1px solid;
}

.learn-more__button:hover,
.learn-more__button:focus,
.register__btn:hover,
.register__btn:focus {
    border: var(--black) 1px solid;
    background-color: var(--white);
    color: var(--black);
}

.footer {
    grid-area: footer;
}

.footer__img--div + .footer__img--div {
    padding-left: 1.5rem;
}

.footer__img {
    width: 100%;
    padding: 1.5rem 0;
}


@media (min-width: 768px) {

    .page-wrapper {
        display: grid;
        /* align-content: center; */
        /* grid-template: repeat(2, 1fr); */
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "header header"
        "hero      img"
        "footer    img";
    }

    /* .menu-icon__img--div {
        display: none;
    } */

    .dropdown {
        display: none;
    }

    .has-dropdown.open > .dropdown {
        display: block;
    }


    /* .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        background: var(--white);
        width: 100%;
        left: 0;
        top: 100%;
        padding: 1rem;
        z-index: 1000;
    } */

    .nav.open {
        display: flex;
    }

    .hero__text {
        align-items: flex-start;
    }

    .title {
        font-size: 3.5rem;
    }

    .details {
        text-align:left;
    }

}

/* <style>
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
</style> */